[Unit]
Description=Check if VPN disabled, if yes launch GUI App
After=network.target

[Service]
Type=simple
ExecStart=mullvad status | grep "Disconnected" && "/opt/Mullvad VPN/mullvad-vpn %U"
Restart=always
RestartSec=20
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=mullvad-reminder

[Install]
WantedBy=multi-user.target
